.jfmod-entryList {
    width: 100%;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    text-align: inherit;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
}

.jfmod-entryListImage {
    position: relative;
    background-size: cover;
    background-position: center;
}
